.section__aboutMe{
    @media(max-width:56em){
    }

    &-box{
        ul{
            list-style: none;
            li{
                margin:2rem;
                font-size: 1.5rem;
                text-align:justify;
            }
        }
    }


    strong{
        color:$color-blue-light;
        font-size: .5;
    }
}