.section__experience{
    &-box{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-one{
            margin: 2rem;
            img{
                width:10rem;
            }
        }

        &-two{
            margin: 2rem;
            img{
                width:10rem;
            }
        }
    }

    .Roles{
        font-size: 1.5rem;
    }

    ul{
        list-style: none;
        li{ 
            margin:.5rem 0;
            font-size: 1.5rem;
        }
    }
}