// Colors
$color-white:#fff;
$color-black: #000;


$color-blue-dark: #1d2951;;
$color-blue-light: #0080FF;

$color-grey-light: #999;
$color-grey-medium:#777;
$color-grey-dark: #333;

$color-pink-light: #ff9999;
$color-pink-dark: #ff77ff;

$color-teal-dark: #008080;
$color-teal-light: #81e9e9;




